@import '../../../vars';

.conditions{
  margin-bottom: 300px;
  margin-top: 100px;
  &__inner{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
  }


  @media(max-width: 1023px){
    margin-top: 80px;
    &__inner{
      gap: 40px;
    }
  }
  @media(max-width: 375px){
    .section-title{
      font-size: 23px;
    }
  }
}