@import '../../../vars';

.section__divider{
  width: 70px;
  height: 6px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  &.purple{
    background: $purpleGr;
  }
  &.green{
    background: $greenGr;
  }
  &.red{
    background: $redGr;
  }
  @media(max-width: 1023px){
    margin-bottom: 10px;
  }
  @media(max-width: 557px){
    margin-bottom: 5px;
  }
}