@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

//* Container & BreakPoints
$containerWidth: 1130;
$containerYPadding: 12;
$containerXPadding: 45;
$breakpoint1200: 1199.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint736: 736.01 + px;
$burgerBreakpoint: $breakpoint736;

//* Colors
$bodyBackground: #0F1624;
$purpleGr: linear-gradient(270deg, #13ADC7 0%, #945DD6 100%);
$greenGr: linear-gradient(270deg,#00dbd7e1 0%,#00ff8cc8 100%);
$redGr: linear-gradient(270deg, #F46737 0%, #945DD6 100%);

//* Fonts
%font{
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  // line-height: 48px;
  color: white;
}

//? Animations
//* Fade
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}