@import '../../../vars';

.faq{
  margin-top: 100px;
  margin-bottom: 300px;
  &__inner{
    display: flex;
  }


  
  @media(max-width: 1023px){
    margin-top: 80px;
  }
  @media(max-width: 375px){
    .section-title{
      font-size: 23px;
    }
  }
}